<!DOCTYPE html>
<html lang="pt-bt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <div class="card">
            <section class="login">
                <p class="titulo">LOGIN</p>
                <input type="username" placeholder="usuário" class="input" id="user">
                <input type="password" placeholder="senha" class="input" id="senha">
            </section>
            <button id="btn">Entrar</button>
        </div>
</div>

<script src="../appFront/fazLogin.js"></script>
</body>
</html>