<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./addFeed.css">
    <title>VIASOFT</title>
</head>
<body>

<!-- tela de inclusão de feedback -->
    <div class="container">
        <h1>Envie seu Feedback</h1>
        <div id="novoFeed">
            <input name="usuario" type="text" placeholder="Usuário" id="inputFeedUsuario">
            <input name="data" type="date" placeholder="Data" id="inputFeedData">
            <input name="melhorar" type="text" placeholder="Pontos a melhorar" id="inputFeedMelhorar">
            <input name="manter" type="text" placeholder="Pontos a manter" id="inputFeedManter">
            <input name="sugestoes" type="text" placeholder="Sugestões" id="inputFeedSugest">
            <input name="feedFinal" type="text" placeholder="Feedback Final" id="inputFeedFinal">
            <input name="remetente" type="text" placeholder="Quem está fazendo o feedback?" id="inputFeedRemet">

            <button id="btn">Enviar</button>
            <a href="./feedbacks.html"><button id="btn">Visualizar Feedbacks</button></a>
        </div>

        <p id="resposta"></p>
    </div>

    <script src="../appFront/postFeedback.js"></script>
    
</body>
</html>