<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./addFeed.css">
    <title>VIASOFT</title>
</head>
<body>

    <div class="container">
        <h1>Envie seu Feedback</h1>
        <form onsubmit="postFeedback()" id="novoFeed">
         
            <input name="usuario" type="text" placeholder="Usuário" id="inputFeedUsuario" class="input">
            <input name="data" type="date" id="inputFeedData" class="input">
            <input name="melhorar" type="text" placeholder="Pontos a melhorar" id="inputFeedMelhorar" class="input">
            <input name="manter" type="text" placeholder="Pontos a manter" id="inputFeedManter" class="input">
            <input name="sugestoes" type="text" placeholder="Sugestões" id="inputFeedSugest" class="input">   
            <input name="feedFinal" type="text" placeholder="Feedback Final" id="inputFeedFinal" class="input">
            <input name="remetente" type="text" placeholder="Quem está fazendo o feedback?" id="inputFeedRemet" class="input">
            <br>
            <button type="submit" id="btn" >Enviar</button>
             
        </form>
        
        <a href="./feedbacks.html"><button id="btn">Visualizar Feedbacks</button></a>  
        
        <div id="resposta">
        </div>
        
    </div>

    <script src="../appFront/postFeedback.js"></script>
    
</body>
</html>