/* css base */

:root body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    font-family: 'Roboto', sans-serif;
    background-image: url("../assets/background.jpg");
} 
.container{
    width: 100vw;
    height: 100vh; 
    
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* estilo da área de busca */

.busca {
    display: flex;
    align-items: center;
}

.inputBuscas {
    width: 50vw;
    height: 50px;
    
    margin-top: 10px;
    padding: 15px;
    
    background-color: lightgrey;

    border: none;
    border-radius: 20px;

    font-size: 30px;
}

.btns {
    font-size: 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-top: 15px;
    margin-left: 15px;
    
    gap: 10px;

    font-family: 'Roboto', sans-serif;
}

.btn {
    font-size: 18px;

    background-color: rgb(146, 156, 212);

    padding:10px;

    border-style: none;
    border-radius: 10px;

    cursor: pointer;
}

.btn:hover {
    background-color: rgb(107, 116, 167);
}

/* estilo da tabela onde mostra os feedbacks */

.feedbacks {
    margin: 20px;

    width: 80vw;

    border-radius: 10px;
    box-sizing: border-box;
    border-width: 2px;

    background-color: rgb(146, 156, 212);

    padding:10px;
}

td, tr {
    border: 1px solid black;

    color: rgb(37, 45, 94);

    font-family: 'Roboto', sans-serif;
}

.feedbacks button {
    width: 20px;
    height: 20px
}