:root body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 
.container{
    width: 100vw;
    height: 100vh; 
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo p {
    font-size: 3em;
}

.inputRadio{
    font-size: 25px;
}

.busca {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0;
}

.btns {
    font-size: 20px;

    display: flex;
    flex-direction: column;
    margin-top: 15px;

    cursor: pointer;
}

.inputBuscas {
    width: 50vw;
    height: 30px;
    
    margin-top: 10px;
    padding: 15px;
    
    background-color: lightgrey;

    border: none;
    border-radius: 20px;

    font-size: 30px;
}


#incluiFeedback {

    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 20px;
    font-size: 15px;

    cursor: pointer;
}

.feedbacks {
    background-color: lightgray;

    border-radius: 20px;

    width: 80vw;
    height: 800vh;
}



.feedbacks li {
    margin: 20px;

    border-radius: 10px;
    box-sizing: border-box;
    border-width: 2px;

    background-color: rgb(146, 156, 212);

    padding:10px;
}