<!DOCTYPE html>
<html lang="pt-bt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="feedbacks.css">
    <title>VIASOFT</title>
</head>
<body>
    <div class="container">
        <div class="busca">           
                <input type="text" placeholder="  Busque por Feedbacks" class="inputBuscas" id="inputBuscas" autofocus>
                
                <div class="btns">
                    <button name="btnUsuario" id="btnUsuario" class="btn">Pesquisa por usuário</button>    
                    <button name="btnRemetente" id="btnRemetente" class="btn">Pesquisa por Remetente</button> 
                    <a href="./addFeed.html"><button id="btnDarFeedback" class="btn">Dê seu feedback!</button></a>  
                </div>
                  
        </div>
    
        <table class="feedbacks" id="tabela">
                <th>Usuário</th>
                <th>Data</th>
                <th>Melhorar</th>
                <th>Manter</th>
                <th>Feedback Final</th>
                <th>remetente</th>
                      
        </table>
    </div>
    
    <script src="../appFront/getFeedback.js"></script>
</body>
</html>